[Unit]
Description=Pump Management Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ollie/monitor/manage_sensor.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
